<link rel="stylesheet" type="text/css" href="css/checkout.css">
<div class="user-card">
  <h2>User Account</h2>
  <p>User ID: {{session.user_id}}</p>
  <p>Name: {{session.user_name}}</p>
  <p>Email: {{session.user_email}}</p>


  <script src="/js/checkout.js"></script>
</div>

