
<h1>Library Dashboard</h1>
<table>
  <thead>
  <tbody>
    <tr>
      {{#each books as |book|}}
      <div class="book">
        <h2>{{book.title}}</h2>
        <p>{{book.author}}</p>
        <p>{{book.description}}</p>
      </div>
      {{/each}}
    </tr>
  </tbody>
  </thead>
</table>

