<div>
    {{!-- add handbar for user information --}}
    {{}}
    <div class="container ">
    <div class="row g-3 ">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card ">
          <!-- ADDED IMAGE OF BOOK -->
          <img src="..." class="card-img-top" alt="..."> 
          <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <p class="card-text">{{book.description}}</p>
          </div>
        </div>
      </div>
</div>