<section class="form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
            <img src="./IMG/Library.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-weight-bold py-3">Comfy Reads</h1>
                <form class="login-form">
                    <div class="form-row">
                        <div class="col-lg-7">
                        <input type="email" placeholder="Email-Address" id="email-login" class="form-control my-3 p-4"></input>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <input type="password" placeholder="********" id="password-login" class="form-control my-3 p-4"></input>
                        </div>
                    </div>
                        <div class="form-row">
                            <div class="col-lg-7">
                                <button type="submit" class="btn1 mt-3 mb-5">Login</button>
                            </div>
                        </div>
                            <p>Don't have an account? <a href="/signup">Register here</a></p>
                </form>
        </div>
     </div>
    </div>
    <script src="/js/login.js"></script>
</section>