
    {{#each Book as |BOOK|}}
    
<div class="container ">
    <div class="row g-3 ">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card ">
          <!-- ADDED IMAGE OF BOOK -->
          <img src="..." class="card-img-top" alt="..."> 
          <div class="card-body">
            {{!-- Need to add Book name and description --}}
            {{!-- <h5 class="card-title">{{BOOK}}</h5>
            <p class="card-text">{{bookdescription}}</p> --}}
          </div>
        </div>
      </div>

      {{/each}}

      
       {{!-- 
      <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
          <!-- ADDED IMAGE OF BOOK -->
          <img src="..." class="card-img-top" alt="..."> 
          <div class="card-body">
            <h5 class="card-title">Book One</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, 
              debitis. Quisquam ex velit necessitatibus nemo odio qui commodi alias, culpa tenetur dolores 
              voluptatum, libero est. Quasi culpa ex harum quis!</p>
          </div>
      </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">
          <!-- ADDED IMAGE OF BOOK -->
          <img src="..." class="card-img-top" alt="..."> 
          <div class="card-body">
            <h5 class="card-title">Book One</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, 
              debitis. Quisquam ex velit necessitatibus nemo odio qui commodi alias, culpa tenetur dolores 
              voluptatum, libero est. Quasi culpa ex harum quis!</p>
          </div>
      </div>
  </div>
  </div> --}}