/* .checkout-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkout-form label {
    margin-bottom: 10px;
  }
  
  .checkout-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .checkout-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .checkout-form button:hover {
    background-color: #3e8e41;
  }
   */


 body {
  background-color: tan;
}
  .user-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 20px auto;
}

.user-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.user-card p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.user-card ul {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

.user-card li {
  font-size: 1.2rem;
  margin: 5px 0;
}
