*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* background: tan; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(200, 161, 118);
    border-radius: 25px;
}
.card {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
}

.container.active{
    width: 360px;
}

h1{ 
    font-family: tilt prism;
}
button{
    margin: 2%;
    border-radius: 25px;
}

img{
    border-radius: 15px;
    width: 600px; height: 450px; 
    object-fit: cover;
}